!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %meta{:http-equiv => "X-UA-Compatible", :content => "IE=edge"}
    %meta{:name => "viewport", :content => "width=device-width, intial-scale=1"}
    %title Taro
    %link{:rel => "stylesheet", :href => url_for("/css/bootstrap.min.css")}
  %body
    :javascript
      window.taro = window.taro || {};
      window.taro.ROOT_URL = "#{url_for('/')}"
    .messages
    .container
      = yield
    %script{:src => url_for("/js/jquery.min.js")}
    %script{:src => url_for("/js/underscore-min.js")}
    %script{:src => url_for("/js/bootstrap.min.js")}
    %script{:src => url_for("/js/util.js")}
    %script{:src => url_for("/js/app.js")}
    %script{:type => "text/javascript", :src => url_for("/js/api.js?#{Time.now.to_i}")}
